<nav id="breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ routes.root }}">ホーム</a></li>
    {% if collection %}
      <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
    {% endif %}
    {% if product %}
      <li><a href="{{ product.url }}">{{ product.title }}</a></li>
    {% elsif article %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% else %}
      <li aria-current="page">{{ page_title }}</li>
    {% endif %}
  </ol>
</nav>
