<nav id="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb_cnt">
    <li><a href="{{ routes.root }}">ホーム</a></li>
    {% if collection %}
      <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
    {% endif %}
    {% if product %}
      <li><a href="{{ product.url }}">{{ product.title }}</a></li>
    {% elsif article %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
    {% else %}
      <li aria-current="page">{{ page_title }}</li>
    {% endif %}
  </ol>
</nav>

{% style %}
  #breadcrumb {
    width: 100%;
    margin: 1rem auto 1.5rem;
    padding-left: 2rem;
  }
  .breadcrumb_cnt {
    display: flex;
    flex-wrap: wrap;
  }

  .breadcrumb_cnt li:not(:last-child)::after {
    content: ">";
    margin: 0 0.5em 0 0.7em;
    color: #969696;
    text-decoration: none;
}

.breadcrumb_cnt li a {
    color: #333;
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
}
{% endstyle %}