{% comment %}
複数の商品を追加できる横スクロールセクション
{% endcomment %}

<section class="product_block">
  <div class="product_list">
    <h2 class="productList_ttl">{{ section.settings.category }}</h2>
    <a href="/">もっと見る</a>
  </div>
  <div class="featured-product-container">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
      {% if product %}
        <div class="featured-product">
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
          <h2 class="product_ttl">{{ product.title }}</h2>
          <p class="product_price">{{ product.price | money }}</p>
          <a href="{{ product.url }}" class="product_link">商品を見る</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% style %}
  .product_ttl {
    padding: 1rem 0 1rem 1rem; 
  }
  .product_price {
    text-align: right;
    padding-right: 1rem;
  }
  .product_link {
    text-align: center;
    border: 1px solid #FF7700;
    border-radius: 30px;
    background: #fff;
    padding: .7rem;
    color: #FF7700;
    width: 80%;
    margin: 1rem auto;
    font-weight: bold;
    display: block;
    font-size: 14px;
  }
  .product_block {
    background: #FFE3CF;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 3px #00000033;
    padding: 0 0.5rem 1rem 1rem;
  }

  .product_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    margin: 0 auto;
    width: 80%;
  }
  .product_list h2 {
    color: #464646;
    font-weight: bold;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    box-shadow: inset 3px 3px 6px #00000033;
    padding: 1rem;
  }
  .product_list a {
    color: #fff;
    font-weight: bold;
    background: #FF7700;
    display: block;
    padding: 1rem 0;
    border-radius: 10px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 14px;
    box-shadow: 3px 3px 6px #00000033;
  }

  .product_list a::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
  .featured-product-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 2rem 0 2rem 0;
  }

  .featured-product {
    flex: 0 0 auto;
    width: 250px;
    scroll-snap-align: start;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .featured-product img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .featured-product-container::-webkit-scrollbar {
    height: 4px;
  }

  .featured-product-container::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
  }

  .featured-product-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
  @media screen and (max-width: 768px) {
    .product_list {
      width: 100%;
    }
    .product_list a {
      width: 35%;
      font-size: 13px;
    }
    .product_list h2 {
      font-size: 15px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "カテゴリ商品棚",
  "blocks": [
    {
      "type": "product",
      "name": "商品",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "表示する商品"
        },
      ],
    },
  ],
  "settings": [
    {
      "type": "text",
      "id": "category",
      "label": "カテゴリ名"
    },
  ],
  "presets": [
    {
      "name": "カテゴリ商品棚",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
