{%- assign collection = collections[section.settings.collection_handle] -%}

<div id="section-collection-products" data-aos="fade-up" data-aos-duration="1100">
<div class="container productBox">
<div class="collection-products-heading">
<h2>{{ section.settings.title | escape }}</h2>
</div>
<ul class="collection-products">
{% assign sorted_products = collection.all_products | sort: 'published_at' %}
{% for product in sorted_products reversed limit: section.settings.product_limit %}
<li class="collection-product-item">
<a href="{{ product.url }}"> //商品URL
<div class="collection-product-image">
<img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }} //サムネイル">
</div>
<div class="collection-product-info">
<div class="collection-product-title"><p>{{ product.title }}</p></div> //商品名
<div class="collection-product-price">{{ product.price | money }}</div> //価格
</div>
</a>
</li>
{% endfor %}
</ul>
<p class="viewall"><a href="{{ collection.url }}" class="viewall">VIEW ALL</a></p>
</div>
</div>