{% comment %}
複数の商品を追加できる横スクロールセクション
{% endcomment %}

<section class="productList_block">
  <h2 class="productList_ttl">商品一覧</h2>
  <ul class="productList_cnt">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
      {% if product %}
        <li class="productList_item">
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
          <h2 class="product_ttl">{{ product.title }}</h2>
          <p class="product_price">{{ product.price | money }}</p>
          <a href="{{ product.url }}" class="product_link">商品を見る</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="/template/product_all_item/" class="product_list_link">もっと見る</a>
</section>

{% style %}
  .productList_block {
    background: #FFF;
    margin-bottom: 1.5rem;
    box-shadow: 0 3px 3px #00000033;
    padding: 0 0.5rem 1rem 1rem;
  }

  .productList_ttl {
    padding-top: 3rem;
    color: #464646;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  .product_list_link {
    color: {{ section.settings.product_btn | default: "#CE3A1D" }};
    font-weight: bold;
    background: #FFF;
    display: block;
    padding: 1rem 0;
    border-radius: 10px;
    border: 1px solid {{ section.settings.border_color | default: "#CE3A1D" }};
    width: 20%;
    margin: 2rem auto;
    position: relative;
    text-align: center;
    font-size: 14px;
    box-shadow: 3px 3px 6px #00000033;
  }

  .product_list_link::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
  }
  .productList_cnt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 2rem 1rem;
  }

  .productList_item {
    flex: 0 0 auto;
    width: calc((100% - 5rem) / 6);
    scroll-snap-align: start;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .productList_item img {
    width: 100%; /* 画像をブロック幅に合わせる */
    height: auto;
    border-radius: 4px;
  }

  @media screen and (max-width: 768px) {
    .productList_item {
      width: 47%;
    }
    .product_list_link {
      width: 50%;
    }
    .productList_cnt {
      padding: 0;
      padding-top: 2rem;
      width: 100%;
      justify-content: space-between;
    }
    .productList_block {
      padding: 0 1rem 1rem;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "商品一覧",
  "blocks": [
    {
      "type": "product",
      "name": "商品",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "表示する商品"
        },
      ],
    },
  ],
  "settings": [
    {
      "type": "color",
      "id": "product_btn",
      "label": "商品一覧文字色"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "商品一覧枠色"
    }
  ],
  "presets": [
    {
      "name": "商品一覧",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
