<style>
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 20px;
  }

  .splide__track {
    margin-top: 4rem;
  }
</style>

<div class="splide" 
     role="group" 
     aria-label="{{ section.settings.slider_label }}">
  <div class="splide__track">
    <ul class="splide__list">
      {%- if section.settings.slide_1_image != blank -%}
        <li class="splide__slide">
          <a href="{{ section.settings.slide_1_links }}">
          <img src="{{ section.settings.slide_1_image | img_url: 'master' }}"
               alt="{{ section.settings.slide_1_text }}"
               loading="lazy"
               width="100%"
               height="auto">
        </li>
      {%- endif -%}
      
      {%- if section.settings.slide_2_image != blank -%}
        <li class="splide__slide">
          <a href="{{ section.settings.slide_2_links }}">
          <img src="{{ section.settings.slide_2_image | img_url: 'master' }}"
               alt="{{ section.settings.slide_2_text }}"
               loading="lazy"
               width="100%"
               height="auto">
        </li>
      {%- endif -%}
      
      {%- if section.settings.slide_3_image != blank -%}
        <li class="splide__slide">
          <a href="{{ section.settings.slide_3_links }}">
          <img src="{{ section.settings.slide_3_image | img_url: 'master' }}"
               alt="{{ section.settings.slide_3_text }}"
               loading="lazy"
               width="100%"
               height="auto">
        </li>
      {%- endif -%}
      
      {%- if section.settings.slide_4_image != blank -%}
        <li class="splide__slide">
          <a href="{{ section.settings.slide_4_links }}">
          <img src="{{ section.settings.slide_4_image | img_url: 'master' }}"
               alt="{{ section.settings.slide_4_text }}"
               loading="lazy"
               width="100%"
               height="auto">
        </li>
      {%- endif -%}
      
      {%- if section.settings.slide_5_image != blank -%}
        <li class="splide__slide">
          <a href="{{ section.settings.slide_5_links }}">
          <img src="{{ section.settings.slide_5_image | img_url: 'master' }}"
               alt="{{ section.settings.slide_5_text }}"
               loading="lazy"
               width="100%"
               height="auto">
        </li>
      {%- endif -%}
    </ul>
  </div>
</div>

{{ 'splide.min.js' | asset_url | script_tag }}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Splide('.splide', {
      autoplay: true,
      type: 'loop',
      pauseOnHover: false,
      pauseOnFocus: false,
      interval: 5000,
      speed: 2000,
      padding: '60%',
      gap: 20,
      breakpoints: {
        749: {
          perPage: 1,
          padding: '10%'
        }
      }
    }).mount();
  });
</script>

{% schema %}
{
  "name": "Season Slider",
  "settings": [
    {
      "type": "text",
      "id": "slider_label",
      "label": "スライダーのラベル",
      "default": "シーズナルスライダー"
    },
    {
      "type": "image_picker",
      "id": "slide_1_image",
      "label": "スライド 1 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_1",
      "label": "スライダーリンク1"
    },
    {
      "type": "image_picker",
      "id": "slide_2_image",
      "label": "スライド 2 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_2",
      "label": "スライダーリンク2"
    },
    {
      "type": "image_picker",
      "id": "slide_3_image",
      "label": "スライド 3 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_3",
      "label": "スライダーリンク3"
    },
    {
      "type": "image_picker",
      "id": "slide_4_image",
      "label": "スライド 4 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_4",
      "label": "スライダーリンク4"
    },
    {
      "type": "image_picker",
      "id": "slide_5_image",
      "label": "スライド 5 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_5",
      "label": "スライダーリンク5"
    },
  ],
  "presets": [
    {
      "name": "シーズナルスライダー"
    }
  ]
}
{% endschema %}