<style>
  .splide {
    background: #fff;
  }
  .splide__slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 20px;
  }
  
  .splide__track {
    padding: 4rem 0;
  }
  
  .splide__slide {
    margin: 0 1rem;
    width: 33vw !important;
  }

  .splide__pagination {
    bottom: 1.5em;
  }
  .splide__pagination__page.is-active {
    background: #464646;
  }
  .splide__list {
    padding: 0 1rem !important
  }
</style>

<section class="kira_block">
  <div class="splide" role="group" aria-label="{{ section.settings.slider_label }}">
    <div class="splide__track">
      <ul class="splide__list">
        {%- if section.settings.slide_1_image != blank -%}
          <li class="splide__slide">
            <a href="{{ section.settings.slide_1_link }}">
            <img src="{{ section.settings.slide_1_image | img_url: 'master' }}" alt="{{ section.settings.slider_label }}" loading="lazy">
            </a>
          </li>
        {%- endif -%}
        
        {%- if section.settings.slide_2_image != blank -%}
          <li class="splide__slide">
            <a href="{{ section.settings.slide_2_link }}">
            <img src="{{ section.settings.slide_2_image | img_url: 'master' }}" alt="{{ section.settings.slider_label }}" loading="lazy">
            </a>
          </li>
        {%- endif -%}
        
        {%- if section.settings.slide_3_image != blank -%}
          <li class="splide__slide">
            <a href="{{ section.settings.slide_3_link }}">
            <img src="{{ section.settings.slide_3_image | img_url: 'master' }}" alt="{{ section.settings.slider_label }}" loading="lazy">
            </a>
          </li>
        {%- endif -%}
        
        {%- if section.settings.slide_4_image != blank -%}
          <li class="splide__slide">
            <a href="{{ section.settings.slide_4_link }}">
            <img src="{{ section.settings.slide_4_image | img_url: 'master' }}" alt="{{ section.settings.slider_label }}" loading="lazy">
            </a>
          </li>
        {%- endif -%}
        
        {%- if section.settings.slide_5_image != blank -%}
          <li class="splide__slide">
            <a href="{{ section.settings.slide_5_link }}">
            <img src="{{ section.settings.slide_5_image | img_url: 'master' }}" alt="{{ section.settings.slider_label }}" loading="lazy">
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</section>

{{ 'splide.min.js' | asset_url | script_tag }}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    new Splide('.splide', {
      autoplay: true,
      type: 'loop',
      pauseOnHover: false,
      pauseOnFocus: false,
      interval: 5000,
      speed: 2000,
      padding: '15%',
      gap: '0px',
      focus: 'center',
      breakpoints: {
        749: {
          gap: '5px',
        }
      }
    }).mount();
  });
</script>


{% schema %}
{
  "name": "AdSense Slider",
  "settings": [
    {
      "type": "text",
      "id": "slider_label",
      "label": "スライダーのラベル",
      "default": "広告スライダー"
    },
    {
      "type": "image_picker",
      "id": "slide_1_image",
      "label": "スライド 1 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_1",
      "label": "スライダーリンク1"
    },
    {
      "type": "image_picker",
      "id": "slide_2_image",
      "label": "スライド 2 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_2",
      "label": "スライダーリンク2"
    },
    {
      "type": "image_picker",
      "id": "slide_3_image",
      "label": "スライド 3 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_3",
      "label": "スライダーリンク3"
    },
    {
      "type": "image_picker",
      "id": "slide_4_image",
      "label": "スライド 4 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_4",
      "label": "スライダーリンク4"
    },
    {
      "type": "image_picker",
      "id": "slide_5_image",
      "label": "スライド 5 の画像"
    },
    {
      "type": "url",
      "id": "slider_link_5",
      "label": "スライダーリンク5"
    },
  ],
  "presets": [
    {
      "name": "広告スライダー"
    }
  ]
}
{% endschema %}